Repository ecommerce-kubernetes/ecommerce: changes, and which Jenkins stages are due for each by the changed paths.
All: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

1. Deploy Config Server:
              steps {
                  script {
                      echo 'Config Server 배포 시작'
                      build job: 'buynest-config', wait: true
                      sleep 20
                  }
              }
          

User Service:
                      steps {
                          script {
                              echo 'User Service 배포 시작'
                              build job: 'buynest-user', wait: true
                          }
                      }
                  

Product Service:
                      steps {
                          script {
                              echo 'Product Service 배포 시작'
                              build job: 'buynest-product', wait: true
                          }
                      }
                  

Order Service:
                      steps {
                          script {
                              echo 'Order Service 배포 시작'
                              build job: 'buynest-order', wait: true
                          }
                      }
                  

4. Deploy Docs Service:
              steps {
                  script {
                      echo 'Docs Service 배포'
                      build job: 'buynest-docs', wait: true
                  }
              }
          

4. Deploy API Gateway:
              steps {
                  script {
                      echo 'API Gateway 배포 시작'
                      sleep 20
                      build job: 'buynest-gateway', wait: true
                  }
              }
          

Refactor: BusinessException errorCode 직렬화 제외
  product-service/src/main/java/com/example/product_service/api/common/exception/BusinessException.java
Due: Product Service, 4. Deploy Docs Service

Refactor: OrderSpecifier 제네릭스 경고 제외
  product-service/src/main/java/com/example/product_service/api/product/domain/repository/query/ProductQueryMapper.java
Due: Product Service, 4. Deploy Docs Service

상품 서비스 SonarQube 지표 확인 후 리팩터링 (#370)
  product-service/src/main/java/com/example/product_service/ProductServiceApplication.java
  product-service/src/main/java/com/example/product_service/api/common/config/WebMvcConfig.java
  product-service/src/main/java/com/example/product_service/api/common/exception/BusinessException.java
  product-service/src/main/java/com/example/product_service/api/common/exception/SagaErrorCode.java
  product-service/src/main/java/com/example/product_service/api/product/domain/model/Product.java
  product-service/src/main/java/com/example/product_service/api/product/domain/repository/query/ProductQueryMapper.java
  product-service/src/main/java/com/example/product_service/api/product/saga/producer/SagaEventProducer.java
  product-service/src/main/java/com/example/product_service/api/product/saga/service/SagaProcessor.java
  product-service/src/test/java/com/example/product_service/api/category/controller/CategoryControllerTest.java
  product-service/src/test/java/com/example/product_service/api/category/domain/model/CategoryTest.java
  product-service/src/test/java/com/example/product_service/api/category/domain/repository/CategoryRepositoryTest.java
  product-service/src/test/java/com/example/product_service/api/category/service/CategoryServiceTest.java
  product-service/src/test/java/com/example/product_service/api/common/security/filter/SecurityTest.java
  product-service/src/test/java/com/example/product_service/api/common/util/StringTrimmerTest.java
  product-service/src/test/java/com/example/product_service/api/option/controller/OptionControllerTest.java
  product-service/src/test/java/com/example/product_service/api/option/domain/model/OptionTypeTest.java
  product-service/src/test/java/com/example/product_service/api/option/service/OptionServiceTest.java
  product-service/src/test/java/com/example/product_service/api/product/controller/InternalProductControllerTest.java
  product-service/src/test/java/com/example/product_service/api/product/controller/ProductControllerTest.java
  product-service/src/test/java/com/example/product_service/api/product/domain/model/ProductTest.java
  product-service/src/test/java/com/example/product_service/api/product/domain/model/ProductVariantTest.java
  product-service/src/test/java/com/example/product_service/api/product/domain/repository/ProductRepositoryTest.java
  product-service/src/test/java/com/example/product_service/api/product/saga/listener/SagaEventListerTest.java
  product-service/src/test/java/com/example/product_service/api/product/saga/service/ProductSagaCommandExecutorTest.java
  product-service/src/test/java/com/example/product_service/api/product/saga/service/SagaProcessorTest.java
  product-service/src/test/java/com/example/product_service/api/product/serivce/ProductServiceTest.java
  product-service/src/test/java/com/example/product_service/docs/category/CategoryControllerDocsTest.java
  product-service/src/test/java/com/example/product_service/docs/option/OptionControllerDocsTest.java
  product-service/src/test/java/com/example/product_service/docs/product/ProductControllerDocsTest.java
Due: Product Service, 4. Deploy Docs Service

Test: 카테고리 조회 테스트 스크립트 및 더미 데이터 sql 추가 카테고리 조회 성능 테스트를 위한 스크립트 및 더미 데이터 sql 추가 Resolves: #371
  product-service/.gitignore
  product-service/k6/data/category/dummy-data.sql
  product-service/k6/scripts/category/category-tree.js
Due: Product Service, 4. Deploy Docs Service

Chore: reports gitignore 추가
  user-service/.gitignore
  user-service/k6/reports/login-test-report.html
Due: User Service, 4. Deploy Docs Service

Chore: 상품서비스 부하 테스트를 위한 컴포즈 파일 수정 상품서비스 cpu 1코어, memory=1G로 설정 Resolves: #371
  docker-compose-local.yml
Due: none

Feat: 상품 서비스 k6 실행 파일 작성
  product-service/k6/run.sh
Due: Product Service, 4. Deploy Docs Service

Chore: run.sh 실행 권한 부여
  product-service/k6/run.sh
Due: Product Service, 4. Deploy Docs Service

Test: 카테고리 네비게이션 조회 k6 스크립트 작성
  .vscode/settings.json
  product-service/build.gradle
  product-service/k6/scripts/category/category-navigation.js
Due: Product Service, 4. Deploy Docs Service

Feat: Minio docker compose 작성
  infra/middleware/docker-compose.yml
Due: none

Chore: 미니오 CORS 설정 추가
  infra/middleware/docker-compose.yml
Due: none

Feature/min io (#374)
  infra/middleware/docker-compose.yml
Due: none

Feat: image-service 초기화 image-service minio 사용 변경으로 인한 서비스 초기화 Resolves: #373
  image-service/build.gradle
  image-service/src/main/java/com/example/image_service/advice/ControllerAdvice.java
  image-service/src/main/java/com/example/image_service/config/CorsConfig.java
  image-service/src/main/java/com/example/image_service/config/OpenApiConfig.java
  image-service/src/main/java/com/example/image_service/config/SwaggerProperties.java
  image-service/src/main/java/com/example/image_service/config/WebConfig.java
  image-service/src/main/java/com/example/image_service/controller/ImageController.java
  image-service/src/main/java/com/example/image_service/dto/ExceptionResponse.java
  image-service/src/main/java/com/example/image_service/dto/ImageURLDto.java
  image-service/src/main/java/com/example/image_service/dto/ImageUrlListDto.java
  image-service/src/main/java/com/example/image_service/entity/Image.java
  image-service/src/main/java/com/example/image_service/exception/BadRequestException.java
  image-service/src/main/java/com/example/image_service/exception/NotFoundException.java
  image-service/src/main/java/com/example/image_service/repository/ImageRepository.java
  image-service/src/main/java/com/example/image_service/service/ImageService.java
  image-service/src/main/java/com/example/image_service/service/ImageServiceImpl.java
Due: none

Feat: 이미지 서비스 설정 초기화 미니오 설정을 위해 기존의 설정들을 초기화 Resolves: #373
  image-service/build.gradle
  image-service/src/main/resources/application.yml
  image-service/src/main/resources/bootstrap-dev.yml
  image-service/src/main/resources/bootstrap-devhy.yml
  image-service/src/main/resources/bootstrap-prod.yml
  image-service/src/main/resources/bootstrap.yml
Due: none

Feat: presignedUrl, imageUrl 반환 로직 구현
  image-service/build.gradle
  image-service/src/main/java/com/example/image_service/ImageServiceApplication.java
  image-service/src/main/java/com/example/image_service/config/MinioConfig.java
  image-service/src/main/java/com/example/image_service/config/properties/MinioProperties.java
  image-service/src/main/java/com/example/image_service/service/ImageService.java
  image-service/src/main/java/com/example/image_service/service/dto/result/PresignedUrlResponse.java
  image-service/src/test/java/com/example/image_service/service/ImageServiceTest.java
  image-service/src/test/resources/application.yml
Due: none

Feat: presigned Url 엔드포인트 구현 Presigned 발급 엔드포인트 작성 및 테스트 구현 Resolves: #373
  image-service/src/main/java/com/example/image_service/common/error/ControllerAdvice.java
  image-service/src/main/java/com/example/image_service/common/error/dto/response/ErrorResponse.java
  image-service/src/main/java/com/example/image_service/controller/ImageController.java
  image-service/src/main/java/com/example/image_service/controller/dto/request/PresignedRequest.java
  image-service/src/test/java/com/example/image_service/ImageServiceApplicationTests.java
  image-service/src/test/java/com/example/image_service/controller/ImageControllerTest.java
  image-service/src/test/java/com/example/image_service/service/ImageServiceTest.java
  image-service/src/test/java/com/example/image_service/support/ControllerTestSupport.java
Due: none

Fix: 테스트 설정 수정
  image-service/src/test/resources/application.yml
Due: none

Fix: 테스트 설정 코드 수정
  image-service/src/test/resources/application.yml
Due: none

Feat: 버킷 권한 설정 추가
  image-service/src/main/java/com/example/image_service/config/MinioBucketInitializer.java
  image-service/src/main/java/com/example/image_service/config/MinioConfig.java
Due: none

Feat: 버킷 public 권한 설정
  docker-compose-local.yml
  image-service/build.gradle
  image-service/src/main/java/com/example/image_service/config/MinioConfig.java
  image-service/src/main/java/com/example/image_service/service/ImageService.java
Due: none

Feat: 이미지 서비스 도커 설정 추가
  image-service/Dockerfile
  image-service/docker-compose.yml
  start-local.bat
Due: none

Feat: 인증 설정 추가 및 로직 구현 스프링 시큐리티 설정 및 필터 구현을 통한 권한 처리 로직 구현 Resolves: #373
  image-service/build.gradle
  image-service/src/main/java/com/example/image_service/common/security/config/SecurityConfig.java
  image-service/src/main/java/com/example/image_service/common/security/filter/CustomAccessDeniedHandler.java
  image-service/src/main/java/com/example/image_service/common/security/filter/CustomAuthenticationEntryPoint.java
  image-service/src/main/java/com/example/image_service/common/security/filter/HeaderPreAuthenticationFilter.java
  image-service/src/main/java/com/example/image_service/common/security/model/UserPrincipal.java
  image-service/src/main/java/com/example/image_service/common/security/model/UserRole.java
  image-service/src/main/java/com/example/image_service/controller/ImageController.java
  image-service/src/test/java/com/example/image_service/controller/ImageControllerTest.java
  image-service/src/test/java/com/example/image_service/support/security/WithCustomMockUserSecurityContextFactory.java
  image-service/src/test/java/com/example/image_service/support/security/annotation/WithCustomMockUser.java
  image-service/src/test/java/com/example/image_service/support/security/config/TestSecurityConfig.java
Due: none

Feat: image-service sonarQube 연동 및 API Docs 테스트 작성
  image-service/build.gradle
  image-service/src/docs/asciidoc/api/image/image.adoc
  image-service/src/docs/asciidoc/index.adoc
  image-service/src/test/java/com/example/image_service/docs/RestDocsSupport.java
  image-service/src/test/java/com/example/image_service/docs/image/ImageControllerDocsTest.java
  image-service/src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
  image-service/src/test/resources/org/springframework/restdocs/templates/response-fields.snippet
Due: none

Chore: image-service SonarQube 테스트 빌드 스크립트 추가
  Jenkinsfile.master
Due: none

Fix: 테스트 미니오 격리 설정 추가
  image-service/src/main/java/com/example/image_service/config/MinioBucketInitializer.java
  image-service/src/test/java/com/example/image_service/service/ImageServiceTest.java
  image-service/src/test/resources/application.yml
Due: none

Feat: 이미지 서비스 kafka bus 설정 추가
  image-service/build.gradle
  image-service/src/test/java/com/example/image_service/ImageServiceApplicationTests.java
Due: none

Test: 테스트 커버리지 코드 작성
  image-service/build.gradle
  image-service/src/main/java/com/example/image_service/common/error/dto/response/ErrorResponse.java
  image-service/src/test/java/com/example/image_service/common/security/filter/SecurityTest.java
  image-service/src/test/java/com/example/image_service/support/DummyController.java
Due: none

Chore: sonarQube 빌드 스크립트 수정
  Jenkinsfile.master
Due: none

Fix: sonarQube 프로젝트 키 변경
  image-service/build.gradle
Due: none

Fix: 카테고리 트리 조회시 이미지 반환이 안되는 문제 해결
  product-service/src/main/java/com/example/product_service/api/category/service/dto/result/CategoryTreeResponse.java
  product-service/src/test/java/com/example/product_service/api/category/service/CategoryServiceTest.java
Due: Product Service, 4. Deploy Docs Service

Fix: 카테고리 트리 조회시 이미지 반환이 안되는 문제 해결 (#377)
  product-service/src/main/java/com/example/product_service/api/category/service/dto/result/CategoryTreeResponse.java
  product-service/src/test/java/com/example/product_service/api/category/service/CategoryServiceTest.java
Due: Product Service, 4. Deploy Docs Service

Feat: 이미지 서비스 presigned-url 경로 분리
  image-service/src/main/java/com/example/image_service/config/MinioConfig.java
  image-service/src/main/java/com/example/image_service/config/properties/MinioProperties.java
  image-service/src/main/java/com/example/image_service/service/ImageService.java
  image-service/src/test/resources/application.yml
Due: none

Fix: 이미지 도메인 반환 구조에서 도메인 제거 도메인 포함 반환 구조에서 오브젝트 키 반환 구조로 변경
  image-service/src/main/java/com/example/image_service/service/ImageService.java
Due: none

Feature/image service (#379)
  image-service/src/main/java/com/example/image_service/config/MinioConfig.java
  image-service/src/main/java/com/example/image_service/config/properties/MinioProperties.java
  image-service/src/main/java/com/example/image_service/service/ImageService.java
  image-service/src/test/resources/application.yml
Due: none

Fix: Jwt 토큰 구조 변경 액세스 토큰의 claims 구조를 변경함 Resolves: #381
  user-service/src/main/java/com/example/userservice/api/auth/service/AuthService.java
  user-service/src/main/java/com/example/userservice/api/auth/service/TokenGenerator.java
  user-service/src/main/java/com/example/userservice/api/auth/service/dto/JwtClaims.java
  user-service/src/test/java/com/example/userservice/api/auth/service/TokenGeneratorTest.java
Due: User Service, 4. Deploy Docs Service

Feat: 토큰 리프레시 API 구현
  user-service/src/docs/asciidoc/api/auth/auth.adoc
  user-service/src/main/java/com/example/userservice/api/auth/controller/AuthController.java
  user-service/src/main/java/com/example/userservice/api/auth/service/AuthService.java
  user-service/src/main/java/com/example/userservice/api/auth/service/JwtProvider.java
  user-service/src/main/java/com/example/userservice/api/common/exception/AuthErrorCode.java
  user-service/src/test/java/com/example/userservice/api/auth/controller/AuthControllerTest.java
  user-service/src/test/java/com/example/userservice/api/auth/service/AuthServiceTest.java
  user-service/src/test/java/com/example/userservice/api/auth/service/JwtProviderTest.java
  user-service/src/test/java/com/example/userservice/api/auth/service/TokenGeneratorTest.java
  user-service/src/test/java/com/example/userservice/api/support/security/config/TestSecurityConfig.java
  user-service/src/test/java/com/example/userservice/docs/auth/AuthControllerDocsTest.java
Due: User Service, 4. Deploy Docs Service

Feat: 토큰 리프레시 로직 구현
  user-service/src/main/java/com/example/userservice/api/auth/domain/repository/RefreshTokenRepository.java
  user-service/src/main/java/com/example/userservice/api/auth/service/JwtProvider.java
  user-service/src/main/java/com/example/userservice/api/common/config/RedisConfig.java
  user-service/src/test/java/com/example/userservice/api/auth/domain/repository/RefreshTokenRepositoryTest.java
  user-service/src/test/java/com/example/userservice/api/auth/service/AuthServiceTest.java
  user-service/src/test/java/com/example/userservice/api/common/error/ControllerAdviceTest.java
  user-service/src/test/java/com/example/userservice/api/user/saga/service/SagaProcessorTest.java
  user-service/src/test/java/com/example/userservice/docs/auth/AuthControllerDocsTest.java
Due: User Service, 4. Deploy Docs Service

Feat: 인증 필터 추가
  user-service/src/main/java/com/example/userservice/api/common/security/config/SecurityConfig.java
  user-service/src/main/java/com/example/userservice/api/common/security/filter/CustomAccessDeniedHandler.java
  user-service/src/main/java/com/example/userservice/api/common/security/filter/CustomAuthenticationEntryPoint.java
  user-service/src/main/java/com/example/userservice/api/common/security/filter/HeaderPreAuthenticationFilter.java
  user-service/src/main/java/com/example/userservice/api/common/security/model/UserPrincipal.java
  user-service/src/main/java/com/example/userservice/api/user/domain/model/Role.java
  user-service/src/test/java/com/example/userservice/api/common/security/SecurityTest.java
  user-service/src/test/java/com/example/userservice/api/support/DummyController.java
Due: User Service, 4. Deploy Docs Service

Feat: 로그아웃 API 구현
  user-service/src/docs/asciidoc/api/auth/auth.adoc
  user-service/src/main/java/com/example/userservice/api/auth/controller/AuthController.java
  user-service/src/main/java/com/example/userservice/api/auth/domain/repository/RefreshTokenRepository.java
  user-service/src/main/java/com/example/userservice/api/auth/service/AuthService.java
  user-service/src/test/java/com/example/userservice/api/auth/controller/AuthControllerTest.java
  user-service/src/test/java/com/example/userservice/api/auth/domain/repository/RefreshTokenRepositoryTest.java
  user-service/src/test/java/com/example/userservice/api/auth/service/AuthServiceTest.java
  user-service/src/test/java/com/example/userservice/api/support/security/WithCustomMockUserSecurityContextFactory.java
  user-service/src/test/java/com/example/userservice/api/support/security/annotation/WithCustomMockUser.java
  user-service/src/test/java/com/example/userservice/api/support/security/config/TestSecurityConfig.java
  user-service/src/test/java/com/example/userservice/docs/auth/AuthControllerDocsTest.java
Due: User Service, 4. Deploy Docs Service

Path conditions:
  1. Deploy Config Server: any of: config-service/**
  User Service: (any of: user-service/**) or (any of: config-service/**)
  Product Service: (any of: product-service/**) or (any of: config-service/**)
  Order Service: (any of: order-service/**) or (any of: config-service/**)
  4. Deploy Docs Service: ((((any of: docs-service/**) or (any of: user-service/**)) or (any of: product-service/**)) or (any of: order-service/**)) or (any of: config-service/**)
  4. Deploy API Gateway: (any of: gateway-service/**) or (any of: config-service/**)
