Repository ecommerce-kubernetes/ecommerce: changes, and which Jenkins stages are due for each by the changed paths.
All: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

1. Deploy Config Server:
              steps {
                  script {
                      echo 'Config Server 배포 시작'
                      build job: 'buynest-config', wait: true
                      sleep 20
                  }
              }
          

User Service:
                      steps {
                          script {
                              echo 'User Service 배포 시작'
                              build job: 'buynest-user', wait: true
                          }
                      }
                  

Product Service:
                      steps {
                          script {
                              echo 'Product Service 배포 시작'
                              build job: 'buynest-product', wait: true
                          }
                      }
                  

Order Service:
                      steps {
                          script {
                              echo 'Order Service 배포 시작'
                              build job: 'buynest-order', wait: true
                          }
                      }
                  

4. Deploy Docs Service:
              steps {
                  script {
                      echo 'Docs Service 배포'
                      build job: 'buynest-docs', wait: true
                  }
              }
          

4. Deploy API Gateway:
              steps {
                  script {
                      echo 'API Gateway 배포 시작'
                      sleep 20
                      build job: 'buynest-gateway', wait: true
                  }
              }
          

Cicd/image service (#388)
  Jenkinsfile.master
  image-service/Jenkinsfile
  order-service/Jenkinsfile
Due: Order Service, 4. Deploy Docs Service

Fix: 충돌 수정
  Jenkinsfile.master
Due: none

Cicd/image service (#389)
  Jenkinsfile.master
Due: none

Fix: 배포 속도로 인한 SonarQube 철회 SonarQube를 철회하고 parallel 구조의 파이프라인을 순차 파이프라인으로 수정
  Jenkinsfile.master
  image-service/Jenkinsfile
  image-service/build.gradle
  order-service/build.gradle
  product-service/build.gradle
  user-service/build.gradle
Due: User Service, Product Service, Order Service, 4. Deploy Docs Service

Release/to main (#393)
  Jenkinsfile.master
  image-service/Jenkinsfile
  image-service/build.gradle
  order-service/build.gradle
  product-service/build.gradle
  user-service/build.gradle
Due: User Service, Product Service, Order Service, 4. Deploy Docs Service

Fix master 파이프라인 수정
  Jenkinsfile.master
Due: none

Chore: 빌드 테스트
  config-service/README.md
  discovery-service/README.md
  docs-service/README.md
  gateway-service/README.md
  image-service/README.md
  order-service/README.md
  product-service/README.md
  user-service/README.md
Due: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Chore: 젠킨스 빌드 테스트
  config-service/README.md
  discovery-service/README.md
  docs-service/README.md
  gateway-service/README.md
  image-service/README.md
  order-service/README.md
  product-service/README.md
  user-service/README.md
Due: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Chore: jenkins 빌드 테스트
  config-service/README.md
  discovery-service/README.md
  docs-service/README.md
  gateway-service/README.md
  image-service/README.md
  order-service/README.md
  product-service/README.md
  user-service/README.md
Due: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Chore: 젠킨스 빌드 테스트
  Jenkinsfile.master
  config-service/README.md
  discovery-service/README.md
  docs-service/README.md
  gateway-service/README.md
  image-service/README.md
  product-service/README.md
  user-service/README.md
Due: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Chore: 젠킨스 마스터 파일 수정
  Jenkinsfile.master
Due: none

Chore: 젠킨스 빌드 테스트
  config-service/README.md
  discovery-service/README.md
  docs-service/README.md
  gateway-service/README.md
  image-service/README.md
  product-service/README.md
  user-service/README.md
Due: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Chore: 젠킨스 빌드 테스트
  order-service/README.md
Due: Order Service, 4. Deploy Docs Service

Chore: 성능 옵티마이저 설정
  config-service/Dockerfile
  config-service/Jenkinsfile
  discovery-service/Dockerfile
  discovery-service/Jenkinsfile
  docs-service/Dockerfile
  gateway-service/Dockerfile
  gateway-service/Jenkinsfile
  image-service/Dockerfile
  image-service/Jenkinsfile
  infra/middleware/docker-compose.yml
  order-service/Dockerfile
  order-service/Jenkinsfile
  product-service/Dockerfile
  product-service/Jenkinsfile
  user-service/Dockerfile
  user-service/Jenkinsfile
Due: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Chore: 젠킨스 빌드 테스트
  config-service/README.md
Due: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Fix: 이미지 서비스 docker-compose.yml 수정
  image-service/docker-compose.yml
Due: none

Test: 젠킨스 빌드 테스트
  image-service/README.md
Due: none

Fix: 빌드 태그 수정
  image-service/Jenkinsfile
Due: none

Chore: docs 서비스 설정 변경
  docs-service/Dockerfile
Due: 4. Deploy Docs Service

Chore: 게이트웨이 서비스 배포 테스트
  gateway-service/README.md
Due: 4. Deploy API Gateway

Fix: 이미지 서비스 contentType 누락 해결
  image-service/src/main/java/com/example/image_service/service/ImageService.java
Due: none

Chore: 이미지 서비스 url 설정
  infra/middleware/docker-compose.yml
Due: none

Chore: 미니오 설정 변경
  infra/middleware/docker-compose.yml
Due: none

Feat: 장바구니 추가 api 변경 장바구니 추가를 단일에서 복수 추가로 변경 Resolves: #411
  order-service/build.gradle
  order-service/src/main/java/com/example/order_service/api/cart/controller/CartController.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/request/CartRequest.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/response/CartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/model/Cart.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/service/CartService.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/service/dto/result/CartItemDto.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/CartFacade.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/command/CartCommand.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/AllCartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/CartResult.java
  order-service/src/main/java/com/example/order_service/api/common/client/GlobalFeignConfig.java
  order-service/src/main/java/com/example/order_service/api/common/client/payment/TossPaymentErrorDecoder.java
  order-service/src/main/java/com/example/order_service/api/common/exception/CartErrorCode.java
  order-service/src/main/java/com/example/order_service/api/notification/listener/NotificationListener.java
  order-service/src/main/java/com/example/order_service/api/order/infrastructure/client/product/OrderProductAdaptor.java
  order-service/src/test/java/com/example/order_service/api/cart/controller/CartControllerTest.java
  order-service/src/test/java/com/example/order_service/api/cart/domain/service/CartServiceTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/CartFacadeTest.java
  order-service/src/test/java/com/example/order_service/api/cart/infrastructure/client/CartProductAdaptorTest.java
  order-service/src/test/java/com/example/order_service/api/order/facade/OrderFacadeTest.java
  order-service/src/test/java/com/example/order_service/api/order/infrastructure/client/product/OrderProductAdaptorTest.java
  order-service/src/test/java/com/example/order_service/api/order/saga/infrastructure/listener/SagaEventListenerTest.java
  order-service/src/test/java/com/example/order_service/api/support/BaseTestSupport.java
  order-service/src/test/java/com/example/order_service/api/support/ControllerTestSupport.java
  order-service/src/test/java/com/example/order_service/api/support/fixture/FixtureMonkeyFactory.java
  order-service/src/test/java/com/example/order_service/docs/RestDocSupport.java
  order-service/src/test/java/com/example/order_service/docs/cart/CartControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/descriptor/CartDescriptor.java
  order-service/src/test/java/com/example/order_service/docs/notification/NotificationControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/order/OrderControllerDocsTest.java
Due: Order Service, 4. Deploy Docs Service

Fix: 상품 변형 조회 쿼리 수정 상품 변형 조회 쿼리를 left join 사용으로 변경 Resolves: #411
  product-service/src/main/java/com/example/product_service/api/product/domain/repository/ProductVariantRepository.java
Due: Product Service, 4. Deploy Docs Service

Merge pull request #412 from ecommerce-kubernetes/feature/order-service
  order-service/build.gradle
  order-service/src/main/java/com/example/order_service/api/cart/controller/CartController.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/request/CartRequest.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/response/CartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/model/Cart.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/service/CartService.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/service/dto/result/CartItemDto.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/CartFacade.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/command/CartCommand.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/AllCartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/CartResult.java
  order-service/src/main/java/com/example/order_service/api/common/client/GlobalFeignConfig.java
  order-service/src/main/java/com/example/order_service/api/common/client/payment/TossPaymentErrorDecoder.java
  order-service/src/main/java/com/example/order_service/api/common/exception/CartErrorCode.java
  order-service/src/main/java/com/example/order_service/api/notification/listener/NotificationListener.java
  order-service/src/main/java/com/example/order_service/api/order/infrastructure/client/product/OrderProductAdaptor.java
  order-service/src/test/java/com/example/order_service/api/cart/controller/CartControllerTest.java
  order-service/src/test/java/com/example/order_service/api/cart/domain/service/CartServiceTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/CartFacadeTest.java
  order-service/src/test/java/com/example/order_service/api/cart/infrastructure/client/CartProductAdaptorTest.java
  order-service/src/test/java/com/example/order_service/api/order/facade/OrderFacadeTest.java
  order-service/src/test/java/com/example/order_service/api/order/infrastructure/client/product/OrderProductAdaptorTest.java
  order-service/src/test/java/com/example/order_service/api/order/saga/infrastructure/listener/SagaEventListenerTest.java
  order-service/src/test/java/com/example/order_service/api/support/BaseTestSupport.java
  order-service/src/test/java/com/example/order_service/api/support/ControllerTestSupport.java
  order-service/src/test/java/com/example/order_service/api/support/fixture/FixtureMonkeyFactory.java
  order-service/src/test/java/com/example/order_service/docs/RestDocSupport.java
  order-service/src/test/java/com/example/order_service/docs/cart/CartControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/descriptor/CartDescriptor.java
  order-service/src/test/java/com/example/order_service/docs/notification/NotificationControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/order/OrderControllerDocsTest.java
  product-service/src/main/java/com/example/product_service/api/product/domain/repository/ProductVariantRepository.java
Due: Product Service, Order Service, 4. Deploy Docs Service

Feat: 장바구니 목록 조회 반환 구조 수정
  order-service/src/main/java/com/example/order_service/api/cart/controller/CartController.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/response/CartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/CartFacade.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/AllCartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/CartResult.java
  order-service/src/test/java/com/example/order_service/api/cart/controller/CartControllerTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/CartFacadeTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/dto/result/CartResultTest.java
  order-service/src/test/java/com/example/order_service/api/support/BaseTestSupport.java
  order-service/src/test/java/com/example/order_service/api/support/TestUtil.java
  order-service/src/test/java/com/example/order_service/docs/cart/CartControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/descriptor/CartDescriptor.java
Due: Order Service, 4. Deploy Docs Service

Feature/order service (#415)
  order-service/src/main/java/com/example/order_service/api/cart/controller/CartController.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/response/CartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/CartFacade.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/AllCartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/CartResult.java
  order-service/src/test/java/com/example/order_service/api/cart/controller/CartControllerTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/CartFacadeTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/dto/result/CartResultTest.java
  order-service/src/test/java/com/example/order_service/api/support/BaseTestSupport.java
  order-service/src/test/java/com/example/order_service/api/support/TestUtil.java
  order-service/src/test/java/com/example/order_service/docs/cart/CartControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/descriptor/CartDescriptor.java
Due: Order Service, 4. Deploy Docs Service

Refactor: 장바구니 목록 조회 구조 변경
  order-service/.jqwik-database
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCart.java
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCartItem.java
  order-service/src/main/generated/com/example/order_service/api/common/entity/QBaseEntity.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QCoupon.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrder.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItem.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItemOption.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QPayment.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderItemPrice.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderPriceDetail.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderedProduct.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderer.java
  order-service/src/main/generated/com/example/order_service/api/order/saga/domain/model/QOrderSagaInstance.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/CartController.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/response/CartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/CartFacade.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/CartResult.java
  order-service/src/test/java/com/example/order_service/api/cart/controller/CartControllerTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/CartFacadeTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/dto/result/CartResultTest.java
  order-service/src/test/java/com/example/order_service/docs/cart/CartControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/descriptor/CartDescriptor.java
Due: Order Service, 4. Deploy Docs Service

Feat: 장바구니 수량 변경 구조 수정 장바구니 수량 변경 로직 변경 - 응답 구조 변경 - 수량 변경시 상품 서비스를 조회하지 않고 수량만 변경 - command, result 구조 변경
  order-service/src/main/java/com/example/order_service/api/cart/controller/CartController.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/request/CartItemRequest.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/request/CartRequest.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/request/UpdateQuantityRequest.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/response/CartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/service/CartService.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/CartFacade.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/command/AddCartItemCommand.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/command/CartCommand.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/command/UpdateQuantityCommand.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/CartItemResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/CartResult.java
  order-service/src/test/java/com/example/order_service/api/cart/controller/CartControllerTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/CartFacadeTest.java
  order-service/src/test/java/com/example/order_service/api/support/fixture/cart/CartCommandFixture.java
  order-service/src/test/java/com/example/order_service/api/support/fixture/cart/CartFixture.java
  order-service/src/test/java/com/example/order_service/api/support/fixture/cart/CartResponseFixture.java
  order-service/src/test/java/com/example/order_service/docs/cart/CartControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/descriptor/CartDescriptor.java
Due: Order Service, 4. Deploy Docs Service

Feat: 장바구니 상품 삭제 복수 삭제로 수정
  order-service/src/docs/asciidoc/api/cart/cart.adoc
  order-service/src/main/java/com/example/order_service/api/cart/controller/CartController.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/repository/CartItemRepository.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/service/CartService.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/CartFacade.java
  order-service/src/test/java/com/example/order_service/api/cart/controller/CartControllerTest.java
  order-service/src/test/java/com/example/order_service/api/cart/domain/service/CartServiceTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/CartFacadeTest.java
  order-service/src/test/java/com/example/order_service/docs/cart/CartControllerDocsTest.java
Due: Order Service, 4. Deploy Docs Service

Feature/order service cart (#417)
  order-service/.jqwik-database
  order-service/src/docs/asciidoc/api/cart/cart.adoc
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCart.java
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCartItem.java
  order-service/src/main/generated/com/example/order_service/api/common/entity/QBaseEntity.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QCoupon.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrder.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItem.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItemOption.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QPayment.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderItemPrice.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderPriceDetail.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderedProduct.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderer.java
  order-service/src/main/generated/com/example/order_service/api/order/saga/domain/model/QOrderSagaInstance.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/CartController.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/request/CartItemRequest.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/request/CartRequest.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/request/UpdateQuantityRequest.java
  order-service/src/main/java/com/example/order_service/api/cart/controller/dto/response/CartResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/repository/CartItemRepository.java
  order-service/src/main/java/com/example/order_service/api/cart/domain/service/CartService.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/CartFacade.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/command/AddCartItemCommand.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/command/CartCommand.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/command/UpdateQuantityCommand.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/CartItemResponse.java
  order-service/src/main/java/com/example/order_service/api/cart/facade/dto/result/CartResult.java
  order-service/src/test/java/com/example/order_service/api/cart/controller/CartControllerTest.java
  order-service/src/test/java/com/example/order_service/api/cart/domain/service/CartServiceTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/CartFacadeTest.java
  order-service/src/test/java/com/example/order_service/api/cart/facade/dto/result/CartResultTest.java
  order-service/src/test/java/com/example/order_service/api/support/fixture/cart/CartCommandFixture.java
  order-service/src/test/java/com/example/order_service/api/support/fixture/cart/CartFixture.java
  order-service/src/test/java/com/example/order_service/api/support/fixture/cart/CartResponseFixture.java
  order-service/src/test/java/com/example/order_service/docs/cart/CartControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/descriptor/CartDescriptor.java
Due: Order Service, 4. Deploy Docs Service

Feat: order sheet 컨트롤러 구현 order sheet 컨트롤러 구현 및 테스트 작성 Resolves: #426
  order-service/src/main/java/com/example/order_service/ordersheet/api/OrderSheetController.java
  order-service/src/main/java/com/example/order_service/ordersheet/api/dto/request/OrderSheetRequest.java
  order-service/src/main/java/com/example/order_service/ordersheet/api/dto/response/OrderSheetResponse.java
  order-service/src/main/java/com/example/order_service/ordersheet/service/OrderSheetService.java
  order-service/src/main/java/com/example/order_service/ordersheet/service/dto/command/OrderSheetCommand.java
  order-service/src/main/java/com/example/order_service/ordersheet/service/dto/result/OrderSheetResult.java
  order-service/src/test/java/com/example/order_service/api/support/ControllerTestSupport.java
  order-service/src/test/java/com/example/order_service/ordersheet/api/OrderSheetControllerTest.java
Due: Order Service, 4. Deploy Docs Service

Test: ordersheet docs 테스트 작성
  order-service/src/docs/asciidoc/api/ordersheet/ordersheet.adoc
  order-service/src/docs/asciidoc/index.adoc
  order-service/src/main/java/com/example/order_service/ordersheet/api/dto/response/OrderSheetResponse.java
  order-service/src/main/java/com/example/order_service/ordersheet/service/dto/result/OrderSheetResult.java
  order-service/src/test/java/com/example/order_service/docs/RestDocSupport.java
  order-service/src/test/java/com/example/order_service/docs/descriptor/OrderSheetDescriptor.java
  order-service/src/test/java/com/example/order_service/docs/ordersheet/OrderSheetControllerDocsTest.java
Due: Order Service, 4. Deploy Docs Service

Feat: 주문서 도메인, 서비스 로직구현 주문서 생성 api 의 도메인 구현 및 서비스로직 작성과 테스트 작성 Resolves: #426
  order-service/src/docs/asciidoc/api/cart/cart.adoc
  order-service/src/main/java/com/example/order_service/ordersheet/api/OrderSheetController.java
  order-service/src/main/java/com/example/order_service/ordersheet/api/dto/request/OrderSheetRequest.java
  order-service/src/main/java/com/example/order_service/ordersheet/api/dto/response/OrderSheetResponse.java
  order-service/src/main/java/com/example/order_service/ordersheet/application/OrderSheetProductService.java
  order-service/src/main/java/com/example/order_service/ordersheet/application/OrderSheetService.java
  order-service/src/main/java/com/example/order_service/ordersheet/application/dto/command/OrderSheetCommand.java
  order-service/src/main/java/com/example/order_service/ordersheet/application/dto/result/OrderSheetProductResult.java
  order-service/src/main/java/com/example/order_service/ordersheet/application/dto/result/OrderSheetResult.java
  order-service/src/main/java/com/example/order_service/ordersheet/domain/OrderSheet.java
  order-service/src/main/java/com/example/order_service/ordersheet/domain/OrderSheetItem.java
  order-service/src/main/java/com/example/order_service/ordersheet/domain/OrderSheetRepository.java
  order-service/src/main/java/com/example/order_service/ordersheet/domain/vo/OrderSheetItemOptionSnapshot.java
  order-service/src/main/java/com/example/order_service/ordersheet/domain/vo/OrderSheetItemPriceSnapshot.java
  order-service/src/main/java/com/example/order_service/ordersheet/domain/vo/OrderSheetItemProductSnapshot.java
  order-service/src/main/java/com/example/order_service/ordersheet/infrastructure/client/OrderSheetAdaptor.java
  order-service/src/main/java/com/example/order_service/ordersheet/infrastructure/client/OrderSheetClient.java
  order-service/src/main/java/com/example/order_service/ordersheet/service/OrderSheetService.java
  order-service/src/main/java/com/example/order_service/ordersheet/service/dto/result/OrderSheetResult.java
  order-service/src/test/java/com/example/order_service/api/cart/domain/service/CartProductServiceTest.java
  order-service/src/test/java/com/example/order_service/api/support/ControllerTestSupport.java
  order-service/src/test/java/com/example/order_service/docs/RestDocSupport.java
  order-service/src/test/java/com/example/order_service/docs/cart/CartControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/docs/ordersheet/OrderSheetControllerDocsTest.java
  order-service/src/test/java/com/example/order_service/ordersheet/api/OrderSheetControllerTest.java
  order-service/src/test/java/com/example/order_service/ordersheet/application/OrderSheetServiceTest.java
Due: Order Service, 4. Deploy Docs Service

Refactor: 주문서 서비스 저장 로직 리팩터링
  order-service/src/main/java/com/example/order_service/api/common/exception/OrderSheetErrorCode.java
  order-service/src/main/java/com/example/order_service/ordersheet/application/OrderSheetService.java
  order-service/src/main/java/com/example/order_service/ordersheet/application/dto/command/OrderSheetCommand.java
  order-service/src/main/java/com/example/order_service/ordersheet/domain/OrderSheetRepository.java
  order-service/src/test/java/com/example/order_service/ordersheet/api/OrderSheetControllerTest.java
  order-service/src/test/java/com/example/order_service/ordersheet/application/OrderSheetServiceTest.java
  order-service/src/test/java/com/example/order_service/ordersheet/application/dto/command/OrderSheetCommandTest.java
Due: Order Service, 4. Deploy Docs Service

Path conditions:
  1. Deploy Config Server: any of: config-service/**
  User Service: (any of: user-service/**) or (any of: config-service/**)
  Product Service: (any of: product-service/**) or (any of: config-service/**)
  Order Service: (any of: order-service/**) or (any of: config-service/**)
  4. Deploy Docs Service: ((((any of: docs-service/**) or (any of: user-service/**)) or (any of: product-service/**)) or (any of: order-service/**)) or (any of: config-service/**)
  4. Deploy API Gateway: (any of: gateway-service/**) or (any of: config-service/**)
