Repository ecommerce-kubernetes/ecommerce: changes, and which Jenkins stages are due for each by the changed paths.
All: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

1. Deploy Config Server:
              steps {
                  script {
                      echo 'Config Server 배포 시작'
                      build job: 'buynest-config', wait: true
                      sleep 20
                  }
              }
          

2. Deploy Discovery Service:
              steps {
                  script {
                      echo 'Discovery Service 배포 시작'
                      build job: 'buynest-discovery', wait: true
                      sleep 15
                  }
              }
          

User Service:
                      steps {
                          script {
                              echo 'User Service 배포 시작'
                              build job: 'buynest-user', wait: true
                          }
                      }
                  

4. Deploy API Gateway:
              steps {
                  script {
                      echo 'API Gateway 배포 시작'
                      sleep 20
                      build job: 'buynest-gateway', wait: true
                  }
              }
          

Feat: 로키 적용
  gateway-service/build.gradle
  gateway-service/src/main/resources/logback-spring.xml
  infra/middleware/docker-compose-local.yml
Due: 4. Deploy API Gateway

Feat: prometheus.yml 수정
  infra/prometheus/prometheus-local.yml
  infra/prometheus/prometheus-prod.yml
Due: none

Feat: TraceId 로깅 추가
  gateway-service/src/main/java/com/example/apigatewayservice/ApigatewayServiceApplication.java
  gateway-service/src/main/resources/logback-spring.xml
Due: 4. Deploy API Gateway

Feat: loki 적용
  product-service/build.gradle
  product-service/src/main/resources/logback-spring.xml
  user-service/build.gradle
  user-service/src/main/resources/logback-spring.xml
Due: User Service

Feat: 메트릭 모니터링 추가
  config-service/build.gradle
  config-service/src/main/resources/application-dev.yml
  config-service/src/main/resources/application.yml
  config-service/src/main/resources/bootstrap.yml
  config-service/src/main/resources/logback-spring.xml
  discovery-service/build.gradle
  discovery-service/src/main/resources/logback-spring.xml
  infra/prometheus/prometheus-local.yml
  order-service/build.gradle
  order-service/src/main/resources/logback-spring.xml
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: infra 설정 파일 변경
  infra/database/docker-compose.yml
  infra/database/init-scripts/zipkin-script/01-zipkin-schema.sql
  infra/database/init-scripts/zipkin-script/02-zipkin-event.sql
  infra/middleware/docker-compose-local.yml
  infra/middleware/docker-compose.yml
  infra/prometheus/prometheus-prod.yml
Due: none

Feat: zipkin db 설정 수정
  infra/middleware/docker-compose.yml
Due: none

Feat: jenkins 빌드
  config-service/README.md
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: 테스트 수정
  order-service/src/test/java/com/example/order_service/api/order/facade/OrderFacadeTest.java
Due: none

Feat: 젠킨스 빌드
  gateway-service/README.md
Due: 4. Deploy API Gateway

Feat: zipkin db 설정 변경
  infra/middleware/docker-compose.yml
Due: none

Feat: loki url 수정
  config-service/src/main/resources/application-dev.yml
  config-service/src/main/resources/application-prod.yml
  config-service/src/main/resources/logback-spring.xml
  discovery-service/src/main/resources/application-dev.yml
  discovery-service/src/main/resources/application-prod.yml
  discovery-service/src/main/resources/logback-spring.xml
  gateway-service/src/main/resources/logback-spring.xml
  order-service/src/main/resources/logback-spring.xml
  product-service/src/main/resources/logback-spring.xml
  user-service/src/main/resources/logback-spring.xml
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: spring cloud bus kafka 경로 수정
  config-service/src/main/resources/application-dev.yml
  config-service/src/main/resources/application-prod.yml
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: 테스트 설정 수정
  order-service/src/test/resources/application.yml
  product-service/src/test/resources/application.yml
  user-service/src/test/resources/application.yml
Due: User Service

Feat: loki 경로 기본값 추가
  gateway-service/src/main/resources/logback-spring.xml
  order-service/src/main/resources/logback-spring.xml
  product-service/src/main/resources/logback-spring.xml
  user-service/src/main/resources/logback-spring.xml
Due: User Service, 4. Deploy API Gateway

Feat: jenkins 빌드
  gateway-service/README.md
  order-service/README.md
  product-service/README.md
  user-service/README.md
Due: User Service, 4. Deploy API Gateway

Feat: 유저 서비스 무중단 배포를 위한 compose 파일 수정
  user-service/README.md
Due: User Service

Feat: prometheus 디스커버리 서비스 태그 명시
  infra/prometheus/prometheus-prod.yml
Due: none

Feat: prometheus 스크랩 인터벌 수정
  infra/prometheus/prometheus-prod.yml
Due: none

Feat: monitoring docs 수정
  docs-service/docs/03-monitoring/_category_.json
  docs-service/docs/03-monitoring/monitoring.md
  docs-service/package-lock.json
  docs-service/sidebars.js
  docs-service/static/img/grafana.png
Due: none

Feat: Spring Cloud Bus를 위한 설정 변경
  config-service/src/main/resources/application-prod.yml
  gateway-service/src/main/java/com/example/apigatewayservice/filter/AuthorizationHeaderFilter.java
  gateway-service/src/main/java/com/example/apigatewayservice/filter/properties/TokenProperties.java
  order-service/src/main/java/com/example/order_service/api/order/saga/infrastructure/kafka/producer/SagaEventProducer.java
  order-service/src/main/java/com/example/order_service/api/order/saga/infrastructure/kafka/properties/OrderTopicProperties.java
  user-service/src/main/java/com/example/userservice/api/common/config/RedisConfig.java
  user-service/src/main/java/com/example/userservice/api/common/config/properties/RedisProperties.java
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Refactor: Kafka 빈 설정 파일 주입 방식으로 변경
  order-service/src/main/java/com/example/order_service/api/common/client/payment/TossPaymentFeignConfig.java
  order-service/src/main/java/com/example/order_service/api/common/client/payment/TossProperties.java
  order-service/src/main/java/com/example/order_service/api/order/saga/infrastructure/kafka/KafkaConfig.java
  order-service/src/test/resources/application.yml
  order-service/src/test/resources/logback-spring.xml
Due: none

Refactor: Kafka 빈 설정 파일 주입 방식으로 변경
  order-service/src/main/java/com/example/order_service/api/common/config/KafkaConfig.java
  order-service/src/main/java/com/example/order_service/api/order/domain/repository/query/OrderQueryDslRepositoryImpl.java
  order-service/src/test/java/com/example/order_service/api/order/saga/infrastructure/listener/SagaEventListenerTest.java
  order-service/src/test/java/com/example/order_service/api/support/ExcludeInfraTest.java
  order-service/src/test/resources/application-unit-test.yml
  order-service/src/test/resources/application.yml
  product-service/src/main/java/com/example/product_service/api/common/config/KafkaConfig.java
  product-service/src/main/java/com/example/product_service/api/product/saga/listener/SagaEventListener.java
  product-service/src/main/java/com/example/product_service/api/product/saga/producer/SagaEventProducer.java
  product-service/src/main/java/com/example/product_service/api/product/saga/properties/ProductTopicProperties.java
  product-service/src/test/java/com/example/product_service/support/ExcludeInfraTest.java
  product-service/src/test/java/com/example/product_service/support/IncludeInfraTest.java
  product-service/src/test/resources/application-unit-test.yml
  product-service/src/test/resources/application.yml
  product-service/src/test/resources/logback-spring.xml
  user-service/src/main/java/com/example/userservice/api/auth/service/TokenGenerator.java
  user-service/src/main/java/com/example/userservice/api/auth/service/properties/TokenProperties.java
  user-service/src/main/java/com/example/userservice/api/user/controller/dto/UserCreateRequest.java
  user-service/src/main/java/com/example/userservice/api/user/saga/producer/SagaEventProducer.java
  user-service/src/main/java/com/example/userservice/api/user/saga/properties/UserTopicProperties.java
  user-service/src/main/java/com/example/userservice/api/user/service/dto/result/UserCreateResponse.java
  user-service/src/test/java/com/example/userservice/api/support/ExcludeInfraTest.java
  user-service/src/test/resources/application-unit-test.yml
  user-service/src/test/resources/application.yml
  user-service/src/test/resources/logback-spring.xml
Due: User Service

Feat: 젠킨스 빌드 테스트
  config-service/README.md
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: 젠킨스 빌드 테스트
  config-service/README.md
  user-service/src/test/resources/application.yml
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: 젠킨스 빌드
  order-service/README.md
  product-service/README.md
  user-service/README.md
Due: User Service

Feat: loki 자동 삭제 설정파일 구현
  infra/loki/loki-config.yml
  infra/middleware/docker-compose.yml
Due: none

Feat: 로키 설정 수정
  infra/loki/loki-config.yml
Due: none

Feat: 로키 설정 변경
  infra/loki/loki-config.yml
Due: none

Feat: config-service actuator 메트릭 수집 필터링 구현
  config-service/src/main/java/com/example/config_service/config/MonitoringConfig.java
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: 유저 서비스 무중단 배포를 위한 compose 파일 수정
  config-service/src/main/resources/application-prod.yml
  discovery-service/src/main/java/com/example/discovery_service/config/MonitoringConfig.java
  discovery-service/src/main/resources/application-prod.yml
  order-service/src/main/java/com/example/order_service/api/common/config/MonitoringConfig.java
  product-service/src/main/java/com/example/product_service/ProductServiceApplication.java
  product-service/src/main/java/com/example/product_service/api/common/config/MonitoringConfig.java
  user-service/src/main/java/com/example/userservice/api/common/config/MonitoringConfig.java
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: kafka 설정 수정
  gateway-service/src/main/java/com/example/apigatewayservice/config/MonitoringConfig.java
  order-service/src/main/java/com/example/order_service/api/common/config/KafkaConfig.java
  order-service/src/test/resources/application-unit-test.yml
  product-service/src/main/java/com/example/product_service/api/common/config/KafkaConfig.java
  product-service/src/test/resources/application-unit-test.yml
  user-service/src/main/java/com/example/userservice/api/common/config/KafkaConfig.java
  user-service/src/test/resources/application-unit-test.yml
Due: User Service, 4. Deploy API Gateway

Feat: loki url 수정
  gateway-service/README.md
Due: 4. Deploy API Gateway

Feat: docs spring cloud bus 추가
  docs-service/docs/02-services/infra-structure.md
Due: none

Feat: product 주문 saga 멱등성 로직 추가
  product-service/src/main/java/com/example/product_service/api/product/saga/domain/model/ProcessedSagaEvent.java
  product-service/src/main/java/com/example/product_service/api/product/saga/domain/repository/ProcessedSagaEventRepository.java
  product-service/src/main/java/com/example/product_service/api/product/saga/service/ProductSagaCommandExecutor.java
  product-service/src/main/java/com/example/product_service/api/product/saga/service/SagaProcessor.java
  product-service/src/main/resources/db/migration/V2__create_proceed_saga_event_table.sql
  product-service/src/test/java/com/example/product_service/api/product/saga/service/ProductSagaCommandExecutorTest.java
  product-service/src/test/java/com/example/product_service/api/product/saga/service/SagaProcessorTest.java
Due: none

Feat: kafka listener 경로 수정
  infra/middleware/docker-compose.yml
Due: none

Feat: 로그 제거
  order-service/src/main/java/com/example/order_service/api/order/saga/infrastructure/kafka/producer/SagaEventProducer.java
  product-service/src/main/java/com/example/product_service/api/product/saga/listener/SagaEventListener.java
Due: none

Feat: orderService, productService bluegreen 배포 적용
  order-service/Jenkinsfile
  product-service/Jenkinsfile
Due: none

Feat: bluegreen compose 적용
  order-service/docker-compose.yml
  product-service/docker-compose.yml
  user-service/docker-compose.yml
Due: User Service

Feat: sonarQube 설정
  Jenkinsfile.master
  order-service/build.gradle
Due: none

Path conditions:
  1. Deploy Config Server: any of: config-service/**
  2. Deploy Discovery Service: (any of: discovery-service/**) or (any of: config-service/**)
  User Service: (any of: user-service/**) or (any of: config-service/**)
  4. Deploy API Gateway: (any of: gateway-service/**) or (any of: config-service/**)
