Repository ecommerce-kubernetes/ecommerce: changes, and which Jenkins stages are due for each by the changed paths.
All: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

1. Deploy Config Server:
              steps {
                  script {
                      echo 'Config Server 배포 시작'
                      build job: 'buynest-config', wait: true
                      sleep 20
                  }
              }
          

2. Deploy Discovery Service:
              steps {
                  script {
                      echo 'Discovery Service 배포 시작'
                      build job: 'buynest-discovery', wait: true
                      sleep 15
                  }
              }
          

User Service:
                      steps {
                          script {
                              echo 'User Service 배포 시작'
                              build job: 'buynest-user', wait: true
                          }
                      }
                  

4. Deploy API Gateway:
              steps {
                  script {
                      echo 'API Gateway 배포 시작'
                      sleep 20
                      build job: 'buynest-gateway', wait: true
                  }
              }
          

Feat: deploy.yml 수정
  infra/ansible/deploy.yml
Due: none

Feat: deploy 수정
  infra/ansible/deploy.yml
Due: none

Feat: deploy 설정파일 수정
  infra/ansible/deploy.yml
Due: none

Feat: 서비스 Jenkins workspace 정의
  config-service/Jenkinsfile
  discovery-service/Jenkinsfile
  docs-service/Jenkinsfile
  gateway-service/Jenkinsfile
  infra/ansible/deploy.yml
  order-service/Jenkinsfile
  product-service/Jenkinsfile
  user-service/Jenkinsfile
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: deploy.yml 명령어 수정
  infra/ansible/deploy.yml
Due: none

Feat: 젠킨스 dockerfile 수정
  infra/jenkins/Dockerfile
Due: none

Feat: jenkins 빌드 테스트
  config-service/README.md
  discovery-service/README.md
  docs-service/README.md
  gateway-service/README.md
  order-service/README.md
  product-service/README.md
  user-service/README.md
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: jenkins 빌드 테스트
  config-service/README.md
  discovery-service/Jenkinsfile
  docs-service/Jenkinsfile
  gateway-service/Jenkinsfile
  order-service/Jenkinsfile
  product-service/Jenkinsfile
  user-service/Jenkinsfile
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: 유저 생성 birthDate 필드 명세 수정
  user-service/build.gradle
  user-service/src/main/java/com/example/userservice/api/user/service/dto/result/UserCreateResponse.java
  user-service/src/test/java/com/example/userservice/docs/user/UserControllerDocsTest.java
Due: User Service

Feat: @Json 응답 수정
  user-service/src/main/java/com/example/userservice/api/user/controller/dto/UserCreateRequest.java
Due: User Service

Feat: docs-service api 스펙 파일 초기화 추가
  docs-service/Jenkinsfile
Due: none

Feat: docs-service 경로 일치
  docs-service/Jenkinsfile
  user-service/src/test/java/com/example/userservice/docs/user/UserControllerDocsTest.java
Due: User Service

Feat: api 스펙 최신화
  docs-service/Jenkinsfile
Due: none

Feat: 오타 수정
  docs-service/Jenkinsfile
Due: none

Feat: api 스펙 디버깅 확인
  docs-service/Jenkinsfile
Due: none

Feat: api 스펙 fetch 수정
  docs-service/Jenkinsfile
Due: none

Feat: Dockerfile 수정
  docs-service/Dockerfile
Due: none

Feat: @Json 응답 수정
  user-service/build.gradle
Due: User Service

Feat: README.md 수정
  README.md
Due: none

Revise README for clarity and additional details
  README.md
Due: none

Feat: css 수정
  docs-service/src/css/custom.css
Due: none

Feat: 기본 테마 라이트 버전 수정
  docs-service/docusaurus.config.js
Due: none

Feat: docs-service 라이트모드 설정
  docs-service/docusaurus.config.js
Due: none

Feat: docs API 경로 수정
  order-service/build.gradle
  product-service/build.gradle
Due: none

Feat: 스웨거 요청 템플릿 수정
  product-service/src/main/java/com/example/product_service/api/option/controller/dto/OptionCreateRequest.java
  product-service/src/test/java/com/example/product_service/docs/option/OptionControllerDocsTest.java
  user-service/src/main/java/com/example/userservice/api/user/controller/dto/UserCreateRequest.java
  user-service/src/main/java/com/example/userservice/api/user/service/dto/result/UserCreateResponse.java
Due: User Service

Feat: @Json 응답 수정
  user-service/src/main/java/com/example/userservice/api/user/controller/dto/UserCreateRequest.java
  user-service/src/main/java/com/example/userservice/api/user/service/dto/result/UserCreateResponse.java
Due: User Service

Refactor : 주문시 장바구니 정리 로직 변경
  order-service/src/main/java/com/example/order_service/api/cart/domain/service/CartService.java
Due: none

Feat: Spring Cloud Bus 추가
  config-service/build.gradle
  config-service/src/main/resources/application-dev.yml
  user-service/build.gradle
  user-service/src/main/java/com/example/userservice/api/auth/service/TokenGenerator.java
  user-service/src/main/java/com/example/userservice/api/common/security/config/SecurityConfig.java
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: 유저 서비스 Spring Cloud Bus 적용
  user-service/build.gradle
  user-service/src/main/java/com/example/userservice/api/auth/properties/TokenProperties.java
  user-service/src/main/java/com/example/userservice/api/auth/service/TokenGenerator.java
  user-service/src/main/resources/application.yml
Due: User Service

Feat: 유저 서비스 Saga 멱등성 보장 로직 추가
  user-service/src/main/java/com/example/userservice/api/user/saga/domain/model/ProcessedSagaEvent.java
  user-service/src/main/java/com/example/userservice/api/user/saga/domain/repository/ProcessedSagaEventRepository.java
  user-service/src/main/java/com/example/userservice/api/user/saga/service/SagaProcessor.java
  user-service/src/main/java/com/example/userservice/api/user/saga/service/UserSagaCommandExecutor.java
  user-service/src/main/resources/db/migration/V2__create_proceed_saga_event_table.sql
  user-service/src/test/java/com/example/userservice/api/user/saga/UserSagaCommandExecutorTest.java
Due: User Service

Feat: 유저 서비스 무중단 배포를 위한 compose 파일 수정
  user-service/docker-compose.yml
  user-service/src/main/java/com/example/userservice/api/auth/service/TokenGenerator.java
  user-service/src/main/java/com/example/userservice/api/user/saga/service/SagaProcessor.java
  user-service/src/test/resources/application.yml
Due: User Service

Feat: 무중단 배포 플레이북 수정
  infra/ansible/deploy.yml
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCart.java
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCartItem.java
  order-service/src/main/generated/com/example/order_service/api/common/entity/QBaseEntity.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QCoupon.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrder.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItem.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItemOption.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QPayment.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderItemPrice.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderPriceDetail.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderedProduct.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderer.java
  order-service/src/main/generated/com/example/order_service/api/order/saga/domain/model/QOrderSagaInstance.java
Due: none

Feat: 유저 서비스 jenkinsfile 무중단 배포 적용
  config-service/Jenkinsfile
  discovery-service/Jenkinsfile
  gateway-service/Jenkinsfile
  infra/ansible/deploy-basic.yml
  infra/ansible/deploy-bluegreen.yml
  order-service/Jenkinsfile
  product-service/Jenkinsfile
  user-service/Jenkinsfile
Due: 1. Deploy Config Server, 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: 무중단 배포 설정 변경ㅇ
  docs-service/Jenkinsfile
Due: none

Feat: Blue-Green Deploy 적용 명세
  docs-service/docs/01-intro/intro.md
Due: none

Feat: kafka 트레이싱 설정
  gateway-service/build.gradle
  gateway-service/src/main/resources/application.yml
  infra/middleware/docker-compose.yml
  order-service/build.gradle
  order-service/src/main/java/com/example/order_service/api/order/facade/OrderFacade.java
  order-service/src/main/java/com/example/order_service/api/order/saga/infrastructure/kafka/KafkaConfig.java
  order-service/src/main/resources/application.yml
  product-service/build.gradle
  product-service/src/main/java/com/example/product_service/api/common/config/KafkaConfig.java
  product-service/src/main/resources/application.yml
  user-service/build.gradle
  user-service/src/main/java/com/example/userservice/api/common/config/KafkaConfig.java
  user-service/src/main/java/com/example/userservice/api/common/config/RedisConfig.java
  user-service/src/main/java/com/example/userservice/api/common/config/properties/RedisProperties.java
Due: User Service, 4. Deploy API Gateway

Feat: 모니터링 추가
  order-service/src/main/java/com/example/order_service/api/common/client/GlobalFeignConfig.java
Due: none

Feat: Feign Client Zipkin Tracing 추가
  order-service/src/main/java/com/example/order_service/api/common/client/GlobalFeignConfig.java
  order-service/src/main/java/com/example/order_service/api/order/facade/OrderFacade.java
Due: none

Feat: prometheus 설정 추가
  discovery-service/build.gradle
  discovery-service/src/main/resources/application.yml
  gateway-service/build.gradle
  order-service/build.gradle
  order-service/src/main/java/com/example/order_service/api/common/security/config/SecurityConfig.java
  product-service/build.gradle
  product-service/src/main/java/com/example/product_service/api/common/security/config/SecurityConfig.java
  user-service/build.gradle
Due: 2. Deploy Discovery Service, User Service, 4. Deploy API Gateway

Feat: promethes, grafana 설정 추가
  infra/middleware/docker-compose-local.yml
  infra/middleware/docker-compose-prod.yml
Due: none

Path conditions:
  1. Deploy Config Server: any of: config-service/**
  2. Deploy Discovery Service: (any of: discovery-service/**) or (any of: config-service/**)
  User Service: (any of: user-service/**) or (any of: config-service/**)
  4. Deploy API Gateway: (any of: gateway-service/**) or (any of: config-service/**)
