Repository ecommerce-kubernetes/ecommerce: changes, and which Jenkins stages are due for each by the changed paths.
All: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Path conditions:
  1. Deploy Config Server: any of: config-service/**
  User Service: (any of: user-service/**) or (any of: config-service/**)
  Product Service: (any of: product-service/**) or (any of: config-service/**)
  Order Service: (any of: order-service/**) or (any of: config-service/**)
  4. Deploy Docs Service: ((((any of: docs-service/**) or (any of: user-service/**)) or (any of: product-service/**)) or (any of: order-service/**)) or (any of: config-service/**)
  4. Deploy API Gateway: (any of: gateway-service/**) or (any of: config-service/**)

Chore: 시스템 실행 스크립트 작성 로컬에서 실행할 수 있는 시스템 실행 쉘 스크립트 작성 Resolves: #359
  .gitattributes
  docker-compose-local.yml
  start-local.bat
  start-local.sh
Due: none

Chore: 미들웨어 docker-compose.yml 수정 개발 환경 docker 기반으로 마이그레이션 하기 위해 미들웨어 docker-compose.yml 수정 Resolves: #360
  infra/middleware/docker-compose.yml
  infra/prometheus/prometheus-local.yml
  infra/prometheus/prometheus.yml
  user-service/k6/reports/login-test-report.html
Due: User Service, 4. Deploy Docs Service

Feat: 로컬 실행 sh 작성 로컬 환경에서 시스템 실행 sh 구현 Resolves: #359
  discovery-service/gradlew
  gateway-service/gradlew
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCart.java
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCartItem.java
  order-service/src/main/generated/com/example/order_service/api/common/entity/QBaseEntity.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QCoupon.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrder.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItem.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItemOption.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QPayment.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderItemPrice.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderPriceDetail.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderedProduct.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderer.java
  order-service/src/main/generated/com/example/order_service/api/order/saga/domain/model/QOrderSagaInstance.java
  start-local.sh
  user-service/gradlew
Due: User Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Fix: docker-compose-local.yml 프로파일 추가 docker-compose-local.yml 에 dev프로파일 적용 Resolves: #359
  docker-compose-local.yml
Due: none

Chore: 윈도우 실행 bat 작성 개발 환경 시스템 실행 윈도우 bat 작성 Resolves: #359
  start-local.bat
Due: none

Fix: bat 실행 파일 수정 bat 실행파일 오류 수정 Resolves: #360 #359
  config-service/src/main/resources/application-dev.yml
  discovery-service/src/main/resources/application-dev.yml
  discovery-service/src/main/resources/application.yml
  docker-compose-local.yml
  start-local.bat
Due: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Fix: 실행 sh 파일 수정
  start-local.sh
Due: none

Test: sonarQube 오류 order-service 장바구니 컨트롤러 테스트 재 커밋 sonarQube 빌드 실패로 인해 재 커밋 Resolves: #359 #360
  order-service/src/main/java/com/example/order_service/api/order/saga/orchestrator/SagaManager.java
Due: Order Service, 4. Deploy Docs Service

Infra/docker compose (#361)
  .gitattributes
  config-service/src/main/resources/application-dev.yml
  discovery-service/gradlew
  discovery-service/src/main/resources/application-dev.yml
  discovery-service/src/main/resources/application.yml
  docker-compose-local.yml
  gateway-service/gradlew
  infra/middleware/docker-compose.yml
  infra/prometheus/prometheus-local.yml
  infra/prometheus/prometheus.yml
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCart.java
  order-service/src/main/generated/com/example/order_service/api/cart/domain/model/QCartItem.java
  order-service/src/main/generated/com/example/order_service/api/common/entity/QBaseEntity.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QCoupon.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrder.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItem.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QOrderItemOption.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/QPayment.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderItemPrice.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderPriceDetail.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderedProduct.java
  order-service/src/main/generated/com/example/order_service/api/order/domain/model/vo/QOrderer.java
  order-service/src/main/generated/com/example/order_service/api/order/saga/domain/model/QOrderSagaInstance.java
  order-service/src/main/java/com/example/order_service/api/order/saga/orchestrator/SagaManager.java
  start-local.bat
  start-local.sh
  user-service/gradlew
  user-service/k6/reports/login-test-report.html
Due: 1. Deploy Config Server, User Service, Product Service, Order Service, 4. Deploy Docs Service, 4. Deploy API Gateway

Fix: Jenkinsfile.master discovery 배포 스크립트 수정 Jenkinsfile.master discovery 배포 스크립트 중 develop 변동사항 시에도 배포가 되는 문제가 있어 이를 수정 Resolves: #362
  Jenkinsfile.master
Due: none

Fix: Jenkinsfile.master discovery 배포 스크립트 수정 (#363)
  Jenkinsfile.master
Due: none

Chore: 로컬 컨테이너 스펙 설정 부하 테스트를 위해 cpu 1코어 memory 1G로 설정 Resolves: #358
  docker-compose-local.yml
Due: none

Test/user service/login api pef (#364)
  docker-compose-local.yml
  infra/middleware/docker-compose.yml
  user-service/.gitignore
  user-service/k6/data/users.json
  user-service/k6/run.sh
  user-service/k6/scripts/auth/login-test.js
Due: User Service, 4. Deploy Docs Service

Refactor: 테스트 클래스 public 접근 제어자 제거
  user-service/src/test/java/com/example/userservice/api/auth/controller/AuthControllerTest.java
  user-service/src/test/java/com/example/userservice/api/auth/service/AuthServiceTest.java
  user-service/src/test/java/com/example/userservice/api/auth/service/TokenGeneratorTest.java
  user-service/src/test/java/com/example/userservice/api/user/controller/UserControllerTest.java
  user-service/src/test/java/com/example/userservice/api/user/saga/UserSagaCommandExecutorTest.java
  user-service/src/test/java/com/example/userservice/api/user/service/UserServiceTest.java
  user-service/src/test/java/com/example/userservice/docs/auth/AuthControllerDocsTest.java
  user-service/src/test/java/com/example/userservice/docs/user/InternalUserControllerDocsTest.java
  user-service/src/test/java/com/example/userservice/docs/user/UserControllerDocsTest.java
Due: User Service, 4. Deploy Docs Service

Refactor: 상수 정규 표현식에 맞게 수정
  user-service/src/test/java/com/example/userservice/api/auth/service/TokenGeneratorTest.java
  user-service/src/test/java/com/example/userservice/api/support/IncludeInfraTest.java
Due: User Service, 4. Deploy Docs Service

Refactor: tokenGenerator containsEntry() 사용으로 변경 assertThat api 를 isEqual에서 containsEntry로 변경 Resolves: #366
  user-service/src/test/java/com/example/userservice/api/auth/service/TokenGeneratorTest.java
Due: User Service, 4. Deploy Docs Service

Refactor: 주석 코드 블럭 제거
  user-service/src/test/java/com/example/userservice/docs/RestDocsSupport.java
Due: User Service, 4. Deploy Docs Service

Refactor: 텍스트 블럭으로 전환 연결 문자열 텍스트 블럭으로 수정 Resolves: #366
  user-service/src/test/java/com/example/userservice/docs/auth/AuthControllerDocsTest.java
Due: User Service, 4. Deploy Docs Service

Refactor: record 변수 네이밍 수정 record 변수가 예약어이므로 이름 수정 Resolves: #366
  user-service/src/test/java/com/example/userservice/api/support/IncludeInfraTest.java
Due: User Service, 4. Deploy Docs Service

Refactor: 람다 함수 리팩터링
  user-service/src/test/java/com/example/userservice/api/auth/service/AuthServiceTest.java
Due: User Service, 4. Deploy Docs Service

Refactor: VALIDATION 문자열 상수화
  user-service/src/main/java/com/example/userservice/api/common/error/ControllerAdvice.java
Due: User Service, 4. Deploy Docs Service

Refactor: errorCode 직렬화 제외
  user-service/src/main/java/com/example/userservice/api/common/exception/BusinessException.java
Due: User Service, 4. Deploy Docs Service

Refactor: WebMvcConfig 불필요한 할당 제거
  user-service/src/main/java/com/example/userservice/api/common/config/WebMvcConfig.java
Due: User Service, 4. Deploy Docs Service

Refactor: phoneNumber 정규표현식 문자 클래스로 변경
  user-service/src/main/java/com/example/userservice/api/user/controller/dto/UserCreateRequest.java
Due: User Service, 4. Deploy Docs Service

Refactor: Custom 예외 반환으로 수정 기존의 RuntimeException 예외를 커스텀 예외로 수정 Resolves: #366
  user-service/src/main/java/com/example/userservice/api/common/exception/SagaErrorCode.java
  user-service/src/main/java/com/example/userservice/api/user/saga/service/SagaProcessor.java
Due: User Service, 4. Deploy Docs Service

Fix: phoneNumber 정규 표현식 수정
  user-service/src/main/java/com/example/userservice/api/user/controller/dto/UserCreateRequest.java
Due: User Service, 4. Deploy Docs Service

Refactor: 쿠키 maxAge 오버플로우 수정 int 형 곱셈 오버플로우 로직 Duration 사용으로 수정 Resolves: #365
  user-service/build.gradle
  user-service/src/main/java/com/example/userservice/api/auth/controller/AuthController.java
  user-service/src/main/java/com/example/userservice/api/common/error/ControllerAdvice.java
  user-service/src/main/java/com/example/userservice/api/common/exception/CommonErrorCode.java
  user-service/src/test/java/com/example/userservice/api/auth/controller/AuthControllerTest.java
  user-service/src/test/java/com/example/userservice/api/user/controller/UserControllerTest.java
Due: User Service, 4. Deploy Docs Service

Test: 리팩터링 후 테스트 코드 추가 및 수정
  user-service/src/test/java/com/example/userservice/api/common/error/ControllerAdviceTest.java
  user-service/src/test/java/com/example/userservice/api/support/ControllerTestSupport.java
  user-service/src/test/java/com/example/userservice/api/support/DummyController.java
  user-service/src/test/java/com/example/userservice/api/support/security/config/TestSecurityConfig.java
  user-service/src/test/java/com/example/userservice/api/user/controller/UserControllerTest.java
  user-service/src/test/java/com/example/userservice/api/user/saga/service/SagaProcessorTest.java
  user-service/src/test/java/com/example/userservice/api/user/saga/service/UserSagaCommandExecutorTest.java
Due: User Service, 4. Deploy Docs Service

Test: 리팩터링 후 테스트 작성 및 수정 SonarQube 리팩터링 후 테스트 작성 및 수정 Resolves: #365 #366
  user-service/src/test/java/com/example/userservice/api/common/error/ControllerAdviceTest.java
  user-service/src/test/java/com/example/userservice/api/support/DummyController.java
  user-service/src/test/java/com/example/userservice/api/support/security/config/TestSecurityConfig.java
  user-service/src/test/java/com/example/userservice/api/user/controller/UserControllerTest.java
  user-service/src/test/java/com/example/userservice/api/user/saga/service/SagaProcessorTest.java
Due: User Service, 4. Deploy Docs Service

SonarCloud 지표 확인 후 유저 서비스 코드 리팩터링 (#367)
  user-service/build.gradle
  user-service/src/main/java/com/example/userservice/api/auth/controller/AuthController.java
  user-service/src/main/java/com/example/userservice/api/common/config/WebMvcConfig.java
  user-service/src/main/java/com/example/userservice/api/common/error/ControllerAdvice.java
  user-service/src/main/java/com/example/userservice/api/common/exception/BusinessException.java
  user-service/src/main/java/com/example/userservice/api/common/exception/CommonErrorCode.java
  user-service/src/main/java/com/example/userservice/api/common/exception/SagaErrorCode.java
  user-service/src/main/java/com/example/userservice/api/user/controller/dto/UserCreateRequest.java
  user-service/src/main/java/com/example/userservice/api/user/saga/service/SagaProcessor.java
  user-service/src/test/java/com/example/userservice/api/auth/controller/AuthControllerTest.java
  user-service/src/test/java/com/example/userservice/api/auth/service/AuthServiceTest.java
  user-service/src/test/java/com/example/userservice/api/auth/service/TokenGeneratorTest.java
  user-service/src/test/java/com/example/userservice/api/common/error/ControllerAdviceTest.java
  user-service/src/test/java/com/example/userservice/api/support/ControllerTestSupport.java
  user-service/src/test/java/com/example/userservice/api/support/DummyController.java
  user-service/src/test/java/com/example/userservice/api/support/IncludeInfraTest.java
  user-service/src/test/java/com/example/userservice/api/support/security/config/TestSecurityConfig.java
  user-service/src/test/java/com/example/userservice/api/user/controller/UserControllerTest.java
  user-service/src/test/java/com/example/userservice/api/user/saga/service/SagaProcessorTest.java
  user-service/src/test/java/com/example/userservice/api/user/saga/service/UserSagaCommandExecutorTest.java
  user-service/src/test/java/com/example/userservice/api/user/service/UserServiceTest.java
  user-service/src/test/java/com/example/userservice/docs/RestDocsSupport.java
  user-service/src/test/java/com/example/userservice/docs/auth/AuthControllerDocsTest.java
  user-service/src/test/java/com/example/userservice/docs/user/InternalUserControllerDocsTest.java
  user-service/src/test/java/com/example/userservice/docs/user/UserControllerDocsTest.java
Due: User Service, 4. Deploy Docs Service

Refactor: 상품 서비스 테스트 클래스 접근제어자 수정 상품 서비스 테스트 접근 제어자 public 삭제 Resolves: #369
  product-service/src/test/java/com/example/product_service/api/category/controller/CategoryControllerTest.java
  product-service/src/test/java/com/example/product_service/api/category/domain/repository/CategoryRepositoryTest.java
  product-service/src/test/java/com/example/product_service/api/common/security/filter/SecurityTest.java
  product-service/src/test/java/com/example/product_service/api/common/util/StringTrimmerTest.java
  product-service/src/test/java/com/example/product_service/api/option/controller/OptionControllerTest.java
  product-service/src/test/java/com/example/product_service/api/option/domain/model/OptionTypeTest.java
  product-service/src/test/java/com/example/product_service/api/product/controller/InternalProductControllerTest.java
  product-service/src/test/java/com/example/product_service/api/product/controller/ProductControllerTest.java
  product-service/src/test/java/com/example/product_service/api/product/domain/repository/ProductRepositoryTest.java
  product-service/src/test/java/com/example/product_service/api/product/saga/listener/SagaEventListerTest.java
  product-service/src/test/java/com/example/product_service/docs/category/CategoryControllerDocsTest.java
  product-service/src/test/java/com/example/product_service/docs/option/OptionControllerDocsTest.java
  product-service/src/test/java/com/example/product_service/docs/product/ProductControllerDocsTest.java
Due: Product Service, 4. Deploy Docs Service

Refactor: Product 2중 if 문 리팩터링
  product-service/src/main/java/com/example/product_service/ProductServiceApplication.java
  product-service/src/main/java/com/example/product_service/api/product/domain/model/Product.java
  product-service/src/main/java/com/example/product_service/api/product/saga/producer/SagaEventProducer.java
  product-service/src/main/java/com/example/product_service/api/product/saga/service/SagaProcessor.java
  product-service/src/test/java/com/example/product_service/api/product/saga/service/ProductSagaCommandExecutorTest.java
  product-service/src/test/java/com/example/product_service/api/product/saga/service/SagaProcessorTest.java
Due: Product Service, 4. Deploy Docs Service

Refactor: WebMvcConfig 불필요한 할당 제거
  product-service/src/main/java/com/example/product_service/api/common/config/WebMvcConfig.java
Due: Product Service, 4. Deploy Docs Service

Refactor: SagaProcessor 커스텀 예외로 변경 일반 예외를 커스텀 예외로 수정 Resolves: #369
  product-service/src/main/java/com/example/product_service/api/common/exception/SagaErrorCode.java
  product-service/src/main/java/com/example/product_service/api/product/saga/service/SagaProcessor.java
  product-service/src/test/java/com/example/product_service/api/product/saga/service/SagaProcessorTest.java
Due: Product Service, 4. Deploy Docs Service

Refactor: CategoryTest 불필요한 지역 변수 제거
  product-service/src/test/java/com/example/product_service/api/category/domain/model/CategoryTest.java
Due: Product Service, 4. Deploy Docs Service

Refactor: 불필요한 지역 변수 제거 및 람다 함수 내에 함수 호출부 제거
  product-service/src/test/java/com/example/product_service/api/category/service/CategoryServiceTest.java
Due: Product Service, 4. Deploy Docs Service

Refactor: OptionServiceTest 불필요한 변수 제거 및 람다 내 함수 호출부 제거
  product-service/src/test/java/com/example/product_service/api/option/service/OptionServiceTest.java
Due: Product Service, 4. Deploy Docs Service

Refactor: ProductTest 불필요한 지역 변수 제거 및 람다 내 함수 호출 제거
  product-service/src/test/java/com/example/product_service/api/product/domain/model/ProductTest.java
Due: Product Service, 4. Deploy Docs Service

Refactor: ProductVariantTest 불필요한 지역 변수 제거 및 람다 내 함수 호출 제거
  product-service/src/test/java/com/example/product_service/api/product/domain/model/ProductVariantTest.java
Due: Product Service, 4. Deploy Docs Service

Refactor: productServiceTest 람다내 함수호출 및 불필요한 지역 변수 제거
  product-service/src/test/java/com/example/product_service/api/product/serivce/ProductServiceTest.java
Due: Product Service, 4. Deploy Docs Service
